<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaogangkui.dao.CommonDao">
    <select id="queryAllProject" parameterType="map" resultType="com.xiaogangkui.dto.CommonDto">
        SELECT id ,name FROM t_project where customerId = #{customerId} and status = 1 and isDeleted = 0;
    </select>
    <select id="queryAllUser" parameterType="map" resultType="com.xiaogangkui.dto.CommonDto">
        SELECT * FROM t_user where customerId = #{customerId} and status = 1 and isDeleted = 0;
    </select>

    <select id="loadByAccount" resultType="com.xiaogangkui.dto.CommonDto" parameterType="map">
        SELECT A.*,B.name as departmentName,B.memo as departmentMemo from t_user as A left join t_department as B on A.departmentId = B.id  WHERE  A.account = #{account} and A.password = #{password} and A.status = 1 and A.isDeleted = 0
    </select>

    <select id="loadByUserId" parameterType="map" resultType="com.xiaogangkui.dto.CommonDto">
        SELECT * from t_user WHERE  id = #{id}
    </select>
    
    <select id="bidTotal" parameterType="map" resultType="com.xiaogangkui.dto.ReportDto">
        SELECT sum(bail) as bail,count(1) as bidCount from t_invest WHERE  customerId = #{customerId} and isDeleted = 0;
    </select>
    <select id="bidTotalByTime" parameterType="map" resultType="com.xiaogangkui.dto.ReportDto">
        SELECT sum(bail) as partBail ,sum(biAmount) as partBiAmount
        ,sum(rebackTotalAmount) as partBackBail from t_invest WHERE  customerId = #{customerId} and isDeleted = 0
        and createTime between #{startTime} and #{endTime}
    </select>
    <select id="bidCountByTime" parameterType="map" resultType="com.xiaogangkui.dto.ReportDto">
        SELECT count(1) as partCount from t_invest WHERE  customerId = #{customerId} and isDeleted = 0
        and createTime between #{startTime} and #{endTime}
        <if test="status != null and  status != 0">
          and status == #{status}
        </if>
    </select>

    <select id="contractTotal" parameterType="map" resultType="com.xiaogangkui.dto.ReportDto">
        SELECT count(1) as contractTotal from t_contract WHERE  customerId = #{customerId} and isDeleted = 0
        <if test="startTime != null">
            and  createTime >= #{startTime}
        </if>
        <if test="endTime != null">
            and  #{endTime} >= createTime
        </if>
    </select>

    <select id="contractTotalByTime" parameterType="map" resultType="com.xiaogangkui.dto.ReportDto">
        SELECT count(1) as partContractTotal,sum(totalAmount) as totalAmount from t_contract
        WHERE  customerId = #{customerId} and isDeleted = 0
        and financeType = #{financeType}
        <if test="startTime != null">
            and  createTime >= #{startTime}
        </if>
        <if test="endTime != null">
            and  #{endTime} >= createTime
        </if>
    </select>

    <select id="contractRecordCountByTime" parameterType="map" resultType="com.xiaogangkui.dto.ReportDto">
        SELECT sum(payAmount) as payAmount  from ts_contract_record
        WHERE  customerId = #{customerId} and isDeleted = 0
        and payType = #{payType}
        <if test="startTime != null">
            and  payTime >= #{startTime}
        </if>
        <if test="endTime != null">
            and  #{endTime} >= payTime
        </if>
    </select>
</mapper>
