<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaogangkui.dao.ContractDao">
    <select id="queryList" parameterType="map" resultType="com.xiaogangkui.dto.ContractDto">
        SELECT * from t_contract
        where customerId = #{customerId} and type =2
        and isDeleted = 0
        <if test="status != 0">
           and  status = #{status}
        </if>
        order by createTime;
    </select>
    <select id="findById" parameterType="map" resultType="com.xiaogangkui.dto.ContractDto">
        SELECT * from t_contract where id = #{id}
    </select>
    <select id="queryApproveList" parameterType="map" resultType="com.xiaogangkui.dto.ContractApproveDto">
        SELECT * from ts_contract_approve
        where contactId = #{contactId}
    </select>
    <insert id="saveApprove" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT  into ts_contract_approve(customerId,contactId,contractName,approveId,approveName,status,createTime, isDeleted,remark)
        VALUES (#{customerId},#{contactId},#{contractName},#{approveId},#{approveName},#{status},#{createTime},#{isDeleted},#{remark})
    </insert>
    <update id="updateStatus" parameterType="map">
        UPDATE t_contract set status = #{status} where id = #{id}
    </update>

    <select id="queryForceList" parameterType="map" resultType="com.xiaogangkui.dto.ContractDto">
        SELECT * from t_contract as A left join ts_contract_force_record as B
        on A.id = B.contactId
        WHERE A.customerId = #{customerId} and A.isDeleted = 0 and B.parentId = 0
        <if test="collectStatus !=0">
            and A.collectStatus = #{collectStatus}
        </if>
        order by A.createTime
    </select>
</mapper>